sudo: required

services:
  - docker

install:
  - sed -e 's/${PYTHON_VERSION}/'${PYTHON_VERSION}/g DockerfileTests.tpl  > /tmp/DockerfileTests
  - docker-compose build

script:
  - docker-compose run tests

before_deploy:
- sudo pip install twine
- sudo pip install urllib3[secure]

deploy:
  provider: pypi
  user: noplay
  password:
    secure: Fa66zp8ML4oSGwzkUMZi07MIYfO3tbS5gHFUaLN2mk2MBknhCjDYexmFJqT//sC/+xqv6sSJE6rz1EPoy/THbxj8R96ZgIyiUZIbDCbzgdy92d7J/eusrDoNdpApBLke8NqQqtFETb3addMZZNofQ3IDANFD2m2jY+KECU8z8NI=
  on:
    tags: true
    repo: GNS3/gns3-server

env:
  matrix:
    - PYTHON_VERSION=3.4
    - PYTHON_VERSION=3.5
    - PYTHON_VERSION=3.6
