pytest==7.4.0
flake8==5.0.4  # v5.0.4 is the last to support Python 3.7
pytest-timeout==2.1.0
pytest-asyncio==0.21.1
requests==2.31.0
httpx==0.24.1
httpx-ws==0.3.1; python_version <= '3.7'
httpx_ws==0.4.2; python_version > '3.7'
