include README.rst
include AUTHORS
include INSTALL
include LICENSE
include MANIFEST.in
include tox.ini
recursive-exclude tests *
recursive-include docs *
recursive-include gns3server *
recursive-exclude * __pycache__
recursive-exclude * *.py[co]
