uvicorn==0.13.3
fastapi==0.63.0
websockets==8.1
python-multipart==0.0.5
aiohttp==3.7.2
aiofiles==0.6.0
Jinja2==2.11.2
sentry-sdk==0.19.2
psutil==5.7.3
async-timeout==3.0.1
distro==1.5.0
py-cpuinfo==7.0.0
sqlalchemy==1.4.0b2  # beta version with asyncio support
passlib[bcrypt]==1.7.2
python-jose==3.2.0
email-validator==1.1.2
async-exit-stack==1.0.1  ; python_version < "3.7"
async-generator==1.10  ; python_version < "3.7"
