<html>
<head> 
<meta http-equiv="Content-Type" content="text/html; charset=UTF-8"/> 
<script>
{% block script %}{% endblock %}
</script>
<title>GNS3 Server</title>
</head>
<body>
<div>
    <a href="/">Home</a>
    |
    <a href="/upload">Upload</a>
    |    
    <a href="/backup/images.tar">Backup images</a>
    |
    <a href="/backup/projects.tar">Backup projects</a>
    |
    <a href="/status">Status</a>
</div>
{% block body %}{% endblock %}
</body>
<small>
    Powered by GNS3 {{gns3_version}}
</small>
</html>
