{% extends "layout.html" %}
{% block body %}
<h1>
    Server status
</h1>
The purpose of this page is to help for GNS3 debug.

<h2>Opened projects</h2>
<table border="1">
    <tr>
        <th>Name</th>
        <th>ID</td>
        <th>VMs</th>
        <th>Clients connected</th>
    </tr>
{% for project in project_manager.projects %}
<tr>
    <td>{{project.name}}</td>
    <td>{{project.id}}</td>
    <td>{{project.vms|length}}</td>    
    <td>{{project.listeners|length}}</td>
</tr>
{% endfor %}
</table>


<h2>Ports reserved by GNS3</h2>
<h3>TCP</h3>
<ul>
{% for port in port_manager.tcp_ports %}
    <li>{{port}}</li>
{% endfor %}
</ul>

<h3>UDP</h3>
<ul>
{% for port in port_manager.udp_ports %}
    <li>{{port}}</li>
{% endfor %}
</ul>
{% endblock %}
